<div>

  <table mat-table [dataSource]="students" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> User email </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span>{{element.email}}</span> 
        </td>
      </ng-container>
    
    
      <!-- Name Column -->
      
      <ng-container matColumnDef="math">
        <th mat-header-cell *matHeaderCellDef> GPT score </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span>{{element.GPT}}</span> 
        </td>
      </ng-container>
    
      <!-- Years Column -->
      <ng-container matColumnDef="psyco">
        <th mat-header-cell *matHeaderCellDef> SAT score </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span *ngIf = "i!=rowToEdit">{{element.SAT}}</span>        
        </td>
      </ng-container>
    
      <!-- Income Column -->
      <ng-container matColumnDef="pay">
        <th mat-header-cell *matHeaderCellDef> Tuition Status </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span>{{element.Tuition}}</span>    
        </td>
      </ng-container>
       <!-- result Column -->
       <ng-container matColumnDef="Result">
        <th mat-header-cell *matHeaderCellDef> Result </th>
        <td mat-cell *matCellDef="let element">
          <span  [ngClass]="[element.result=='Will not dropout ' ? 'green' : 'red']">{{element.result}}</span>
        </td>
      </ng-container>    
    
  
      <!-- Delete Column -->
      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button 
            mat-raised-button
            color = 'warn'
            (click) = "deleteStudent(i)"
          >
            Delete
          </button>                  
        </td>
      </ng-container>    
  
   
      
     
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  
   
    
    </table>
  
    


